.t_main {
  width: 100%;
  min-height: 100vh;
  background: #242323;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 1140px;
    background-color: #1b1b1b;

    .m__wrapper {
      position: relative;
      display: flex;
      padding: 10px;

      .dd_none {
        display: none !important;
      }

      .tg_block {
        position: fixed;
        content: "";
        z-index: 9999;
        bottom: 30px;
        right: 30px;
        width: 370px;
        background: #08c;
        border-radius: 5px;
        padding: 13px 17px 13px 13px;
        box-shadow: 4px 4px 10px 0 rgb(20 78 107 / 57%);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        a {
          display: flex;
          align-items: center;
        }

        .tg_close {
          position: absolute;
          content: "";
          top: 0;
          right: 5px;
          outline: none;
          border: none;
          padding: 5px;
          background: transparent;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }

        img {
          width: 50px;
          height: 50px;
          min-width: 45px;
          min-height: 45px;
          margin-right: 15px;
        }

        span {
          color: #fff;
          font-size: 17px;
          margin-bottom: 3px;
        }

        p {
          font-size: 12px;
          color: #fff;
        }
      }

      .box_l {
        width: 68%;
        height: auto;
        padding: 40px 20px 20px 20px;

        .title {
          display: flex;

          img {
            height: 40px;
            width: 40px;
            margin-right: 15px;
          }

          h1 {
            font-size: 28px;
            font-weight: 500;
            color: #fff;
          }
        }
      }
      .box_r {
        width: 32%;
        // background-color: rgb(158, 90, 27);
      }
    }
  }
}

.live_ball {
  width: 100%;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .publisher {
    font-weight: 500;
    font-size: 13px;
  }
  .p_date {
    font-weight: 300;
    color: #8c96a0;
    font-size: 12px;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .t_main .main {
    width: 768px !important;
  }
  .t_main .main .m__wrapper {
    flex-direction: column;
  }
  .t_main .main .m__wrapper .box_l {
    width: 100%;
    height: auto;
    padding: 40px 0;
  }
  .t_main .main .m__wrapper .box_r {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .t_main .main {
    width: 100% !important;
  }
  .live_ball {
    margin-left: 20px;
    padding: 0 !important;
  }
  .other_news .card {
    width: 100%;
    height: 240px;
  }
  .t_main .main .m__wrapper .box_l .title img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .tg_block {
    width: 80% !important;
  }
}
