.info_match {
  width: 100%;
  margin-top: 40px;
  color: #f3f4f5;

  .title {
    margin-bottom: 20px;
    span {
      font-size: 22px;
    }
  }

  .__info {
    border-bottom: 1px solid #2b2b2b;
    .i__group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .info_l {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }
      .info_r {
        p {
          color: #8c96a0;
          font-size: 16px;
        }
      }
    }
  }

  .info_game {
    color: #8c96a0;
    margin: 15px 0;
    padding: 0 20px;
    h3 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}
